//colors
$black:  black;
$color_silver_chalice_approx: #aaa;
$color_regent_st_blue_approx: #a6c9e2;
$color_romance_approx: #fcfdfd;
$color_log_cabin_approx: #222222;
$color_havelock_blue_approx: #4297d7;
$color_danube_approx: #5c9ccc;
$white: #ffffff;
$color_botticelli_approx: #c5dbec;
$color_pattens_blue_approx: #dfeffc;
$color_jelly_bean_approx: #2e6e9e;
$color_jordy_blue_approx: #79b7e7;
$color_hawkes_blue_approx: #d0e5f5;
$color_blumine_approx: #1d5987;
$color_black_haze_approx: #f5f8f9;
$color_christine_approx: #e17009;
$color_golden_dream_approx: #fad42e;
$color_sweet_corn_approx: #fbec88;
$color_tuatara_approx: #363636;
$color_monza_approx: #cd0a0a;
$color_bridesmaid_approx: #fef1ec;

//fonts
$font_0: Lucida Grande;
$font_1: Lucida Sans;
$font_2: Arial;
$font_3: sans-serif;

//data-uris
$data_uri_0: "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";

//urls
$url_0: url(../assets/images/icons/animated-overlay.gif);
$url_1: url(../assets/images/icons/ui-bg_inset-hard_100_fcfdfd_1x100.png);
$url_2: url(../assets/images/icons/ui-bg_gloss-wave_55_5c9ccc_500x100.png);
$url_3: url(../assets/images/icons/ui-bg_glass_85_dfeffc_1x400.png);
$url_4: url(../assets/images/icons/ui-bg_glass_75_d0e5f5_1x400.png);
$url_5: url(../assets/images/icons/ui-bg_inset-hard_100_f5f8f9_1x100.png);
$url_6: url(../assets/images/icons/ui-bg_flat_55_fbec88_40x100.png);
$url_7: url(../assets/images/icons/ui-bg_glass_95_fef1ec_1x400.png);
$url_8: url(../assets/images/icons/ui-icons_469bdd_256x240.png);
$url_9: url(../assets/images/icons/ui-icons_d8e7f3_256x240.png);
$url_10: url(../assets/images/icons/ui-icons_6da8d5_256x240.png);
$url_11: url(../assets/images/icons/ui-icons_217bc0_256x240.png);
$url_12: url(../assets/images/icons/ui-icons_f9bd01_256x240.png);
$url_13: url(../assets/images/icons/ui-icons_2e83ff_256x240.png);
$url_14: url(../assets/images/icons/ui-icons_cd0a0a_256x240.png);
$url_15: url(../assets/images/icons/ui-bg_flat_0_aaaaaa_40x100.png);

//@extend-elements
//original selectors
//.ui-helper-clearfix:before, .ui-helper-clearfix:after
%extend_1 {
  content: "";
  display: table;
  border-collapse: collapse;
}

//original selectors
//.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon
%extend_2 {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

//original selectors
//.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
%extend_3 {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

//original selectors
//.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
%extend_4 {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

//original selectors
//.ui-datepicker td span, .ui-datepicker td a
%extend_5 {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

//original selectors
//.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
%extend_6 {
  border: 1px solid $color_botticelli_approx;
  background: $color_pattens_blue_approx $url_3 50% 50% repeat-x;
  font-weight: bold;
  color: $color_jelly_bean_approx;
}

//original selectors
//.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
%extend_7 {
  border: 1px solid $color_jordy_blue_approx;
  background: $color_hawkes_blue_approx $url_4 50% 50% repeat-x;
  font-weight: bold;
  color: $color_blumine_approx;
}

//original selectors
//.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
%extend_8 {
  border: 1px solid $color_jordy_blue_approx;
  background: $color_black_haze_approx $url_5 50% 50% repeat-x;
  font-weight: bold;
  color: $color_christine_approx;
}

//original selectors
//.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
%extend_9 {
  border: 1px solid $color_golden_dream_approx;
  background: $color_sweet_corn_approx $url_6 50% 50% repeat-x;
  color: $color_tuatara_approx;
}

//original selectors
//.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
%extend_10 {
  border: 1px solid $color_monza_approx;
  background: $color_bridesmaid_approx $url_7 50% 50% repeat-x;
  color: $color_monza_approx;
}

//original selectors
//.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary
%extend_11 {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

//original selectors
//.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
%extend_12 {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}


.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix {
  min-height: 0;
  &:before {
    @extend %extend_1;
  }
  &:after {
    @extend %extend_1;
    clear: both;
  }
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}
.ui-front {
  z-index: 100;
}
.ui-state-disabled {
  cursor: default !important;
  @extend %extend_12;
  .ui-icon {
    filter: Alpha(Opacity=35);
  }
}
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-image: $url_8;
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color_silver_chalice_approx $url_15 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
}
.ui-accordion {
  .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding: .5em .5em .5em .7em;
    min-height: 0;
    .ui-accordion-header-icon {
      position: absolute;
      left: .5em;
      top: 50%;
      margin-top: -8px;
    }
  }
  .ui-accordion-icons {
    padding-left: 2.2em;
    .ui-accordion-icons {
      padding-left: 2.2em;
    }
  }
  .ui-accordion-noicons {
    padding-left: .7em;
  }
  .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
  }
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  .ui-button-text {
    display: block;
    line-height: normal;
  }
}
.ui-button-icon-only {
  width: 2.2em;
  .ui-button-text {
    padding: .4em;
    text-indent: -9999999px;
  }
  .ui-icon {
    @extend %extend_2;
    left: 50%;
    margin-left: -8px;
  }
}
button {
  &.ui-button-icon-only {
    width: 2.4em;
  }
  &.ui-button-icons-only {
    width: 3.7em;
  }
  &.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
.ui-button-icons-only {
  width: 3.4em;
  .ui-button-text {
    padding: .4em;
    text-indent: -9999999px;
  }
  .ui-icon {
    @extend %extend_2;
  }
  .ui-button-icon-primary {
    left: .5em;
  }
  .ui-button-icon-secondary {
    right: .5em;
  }
}
.ui-button-text-icon-primary {
  .ui-button-text {
    padding: .4em 1em .4em 2.1em;
  }
  .ui-icon {
    @extend %extend_2;
  }
  .ui-button-icon-primary {
    left: .5em;
  }
}
.ui-button-text-icons {
  .ui-button-text {
    padding: .4em 1em .4em 2.1em;
    padding: .4em 2.1em .4em 1em;
    padding-left: 2.1em;
    padding-right: 2.1em;
  }
  .ui-icon {
    @extend %extend_2;
  }
  .ui-button-icon-primary {
    left: .5em;
  }
  .ui-button-icon-secondary {
    right: .5em;
  }
}
.ui-button-text-icon-secondary {
  .ui-button-text {
    padding: .4em 2.1em .4em 1em;
  }
  .ui-icon {
    @extend %extend_2;
  }
  .ui-button-icon-secondary {
    right: .5em;
  }
}
input {
  &.ui-button {
    padding: .4em 1em;
  }
  &.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
.ui-buttonset {
  margin-right: 7px;
  .ui-button {
    margin-left: 0;
    margin-right: -.3em;
  }
}
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
  .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
  }
  .ui-datepicker-prev {
    @extend %extend_3;
    left: 2px;
    span {
      @extend %extend_4;
    }
  }
  .ui-datepicker-next {
    @extend %extend_3;
    right: 2px;
    span {
      @extend %extend_4;
    }
  }
  .ui-datepicker-prev-hover {
    top: 1px;
    left: 1px;
  }
  .ui-datepicker-next-hover {
    top: 1px;
    right: 1px;
  }
  .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    select {
      font-size: 1em;
      margin: 1px 0;
    }
  }
  select {
    &.ui-datepicker-month-year {
      width: 100%;
    }
    &.ui-datepicker-month {
      width: 49%;
      color:#666666;
    }
    &.ui-datepicker-year {
      width: 49%;
      color:#666666;
    }
  }
  table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
  }
  th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
  }
  td {
    border: 0;
    padding: 1px;
    span {
      @extend %extend_5;
    }
    a {
      @extend %extend_5;
    }
  }
  .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    button {
      float: right;
      margin: .5em .2em .4em;
      cursor: pointer;
      padding: .2em .6em .3em .6em;
      width: auto;
      overflow: visible;
      &.ui-datepicker-current {
        float: left;
      }
    }
  }
  &.ui-datepicker-multi {
    width: auto;
  }
}
.ui-datepicker-multi {
  .ui-datepicker-group {
    float: left;
    table {
      width: 95%;
      margin: 0 auto .4em;
    }
  }
  .ui-datepicker-buttonpane {
    clear: left;
  }
  .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
  }
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
  }
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}
.ui-datepicker-rtl {
  direction: rtl;
  .ui-datepicker-prev {
    right: 2px;
    left: auto;
    &:hover {
      right: 1px;
      left: auto;
    }
  }
  .ui-datepicker-next {
    left: 2px;
    right: auto;
    &:hover {
      left: 1px;
      right: auto;
    }
  }
  .ui-datepicker-buttonpane {
    clear: right;
    button {
      float: left;
      &.ui-datepicker-current {
        float: right;
      }
    }
  }
  .ui-datepicker-group {
    float: right;
  }
  .ui-datepicker-group-last .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
  }
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
  }
}
.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
  .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
  }
  .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 21px;
    margin: -10px 0 0;
    padding: 1px;
    height: 20px;
  }
  .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
  }
  .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: .5em;
    padding: .3em 1em .5em .4em;
    .ui-dialog-buttonset {
      float: right;
    }
    button {
      margin: .5em .4em .5em 0;
      cursor: pointer;
    }
  }
  .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
  }
}
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
  .ui-menu {
    margin-top: -3px;
    position: absolute;
  }
  .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-image: url($data_uri_0);
    a {
      text-decoration: none;
      display: block;
      padding: 2px .4em;
      line-height: 1.5;
      min-height: 0;
      font-weight: normal;
      &.ui-state-focus {
        font-weight: normal;
        margin: -1px;
      }
      &.ui-state-active {
        font-weight: normal;
        margin: -1px;
      }
    }
  }
  .ui-menu-divider {
    margin: 5px -2px;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
  }
  .ui-state-disabled {
    font-weight: normal;
    margin: .4em 0 .2em;
    line-height: 1.5;
    a {
      cursor: default;
    }
  }
  .ui-icon {
    position: absolute;
    top: .2em;
    left: .2em;
  }
  .ui-menu-icon {
    position: static;
    float: right;
  }
}
.ui-menu-icons {
  position: relative;
  .ui-menu-item a {
    position: relative;
    padding-left: 2em;
  }
}
.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
  .ui-progressbar-value {
    margin: -1px;
    height: 100%;
  }
  .ui-progressbar-overlay {
    background: $url_0;
    height: 100%;
    filter: alpha(opacity=25);
    opacity: 0.25;
  }
}
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted $black;
}
.ui-slider {
  position: relative;
  text-align: left;
  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
  }
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  &.ui-state-disabled {
    .ui-slider-handle {
      filter: inherit;
    }
    .ui-slider-range {
      filter: inherit;
    }
  }
}
.ui-slider-horizontal {
  height: .8em;
  .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
  }
  .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-range-max {
    right: 0;
  }
}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
  .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
  }
  .ui-slider-range {
    left: 0;
    width: 100%;
  }
  .ui-slider-range-min {
    bottom: 0;
  }
  .ui-slider-range-max {
    top: 0;
  }
}
.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
  .ui-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    left: 0;
  }
  .ui-icon-triangle-1-s {
    background-position: -65px -16px;
  }
  a.ui-spinner-button {
    border-top: none;
    border-bottom: none;
    border-right: none;
  }
}
.ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px;
}
.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0;
}
.ui-spinner-up {
  top: 0;
}
.ui-spinner-down {
  bottom: 0;
}
.ui-tabs {
  position: relative;
  padding: .2em;
  .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
    li {
      list-style: none;
      float: left;
      position: relative;
      top: 0;
      margin: 1px .2em 0 0;
      border-bottom-width: 0;
      padding: 0;
      white-space: nowrap;
      a {
        float: left;
        padding: .5em 1em;
        text-decoration: none;
        cursor: pointer;
      }
      &.ui-tabs-active {
        margin-bottom: -1px;
        padding-bottom: 1px;
        a {
          cursor: text;
        }
      }
      &.ui-state-disabled a {
        cursor: text;
      }
      &.ui-tabs-loading a {
        cursor: text;
      }
    }
  }
  .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
  }
}
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 5px $color_silver_chalice_approx;
}
.ui-widget {
  font-family: $font_0, $font_1, $font_2, $font_3;
  font-size: 1.1em;
  .ui-widget {
    font-size: 1em;
  }
  input {
    font-family: $font_0, $font_1, $font_2, $font_3;
    font-size: 1em;
  }
  select {
    font-family: $font_0, $font_1, $font_2, $font_3;
    font-size: 1em;
  }
  textarea {
    font-family: $font_0, $font_1, $font_2, $font_3;
    font-size: 1em;
  }
  button {
    font-family: $font_0, $font_1, $font_2, $font_3;
    font-size: 1em;
  }
}
.ui-widget-content {
  border: 1px solid $color_regent_st_blue_approx;
  background: $color_romance_approx $url_1 50% bottom repeat-x;
  color: $color_log_cabin_approx;
  a {
    color: $color_log_cabin_approx;
  }
  .ui-state-default {
    @extend %extend_6;
  }
  .ui-state-hover {
    @extend %extend_7;
  }
  .ui-state-focus {
    @extend %extend_7;
  }
  .ui-state-active {
    @extend %extend_8;
  }
  .ui-state-highlight {
    @extend %extend_9;
    a {
      color: $color_tuatara_approx;
    }
  }
  .ui-state-error {
    @extend %extend_10;
    a {
      color: $color_monza_approx;
    }
  }
  .ui-state-error-text {
    color: $color_monza_approx;
  }
  .ui-priority-primary {
    font-weight: bold;
  }
  .ui-priority-secondary {
    @extend %extend_11;
  }
  .ui-state-disabled {
    @extend %extend_12;
  }
  .ui-icon {
    background-image: $url_8;
  }
}
.ui-widget-header {
  border: 1px solid $color_havelock_blue_approx;
  background: $color_danube_approx $url_2 50% 50% repeat-x;
  color: $white;
  font-weight: bold;
  a {
    color: $white;
  }
  .ui-state-default {
    @extend %extend_6;
  }
  .ui-state-hover {
    @extend %extend_7;
  }
  .ui-state-focus {
    @extend %extend_7;
  }
  .ui-state-active {
    @extend %extend_8;
  }
  .ui-state-highlight {
    @extend %extend_9;
    a {
      color: $color_tuatara_approx;
    }
  }
  .ui-state-error {
    @extend %extend_10;
    a {
      color: $color_monza_approx;
    }
  }
  .ui-state-error-text {
    color: $color_monza_approx;
  }
  .ui-priority-primary {
    font-weight: bold;
  }
  .ui-priority-secondary {
    @extend %extend_11;
  }
  .ui-state-disabled {
    @extend %extend_12;
  }
  .ui-icon {
    background-image: $url_9;
  }
}
.ui-state-default {
  @extend %extend_6;
  a {
    color: $color_jelly_bean_approx;
    text-decoration: none;
    &:link {
      color: $color_jelly_bean_approx;
      text-decoration: none;
    }
    &:visited {
      color: $color_jelly_bean_approx;
      text-decoration: none;
    }
  }
  .ui-icon {
    background-image: $url_10;
  }
}
.ui-state-hover {
  @extend %extend_7;
  a {
    color: $color_blumine_approx;
    text-decoration: none;
    &:hover {
      color: $color_blumine_approx;
      text-decoration: none;
    }
    &:link {
      color: $color_blumine_approx;
      text-decoration: none;
    }
    &:visited {
      color: $color_blumine_approx;
      text-decoration: none;
    }
  }
  .ui-icon {
    background-image: $url_11;
  }
}
.ui-state-focus {
  @extend %extend_7;
  .ui-icon {
    background-image: $url_11;
  }
}
.ui-state-active {
  @extend %extend_8;
  a {
    color: $color_christine_approx;
    text-decoration: none;
    &:link {
      color: $color_christine_approx;
      text-decoration: none;
    }
    &:visited {
      color: $color_christine_approx;
      text-decoration: none;
    }
  }
  .ui-icon {
    background-image: $url_12;
  }
}
.ui-state-highlight {
  @extend %extend_9;
  a {
    color: $color_tuatara_approx;
  }
  .ui-icon {
    background-image: $url_13;
  }
}
.ui-state-error {
  @extend %extend_10;
  a {
    color: $color_monza_approx;
  }
  .ui-icon {
    background-image: $url_14;
  }
}
.ui-state-error-text {
  color: $color_monza_approx;
  .ui-icon {
    background-image: $url_14;
  }
}
.ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary {
  @extend %extend_11;
}
.ui-icon-blank {
  background-position: 16px 16px;
}
.ui-icon-carat-1-n {
  background-position: 0 0;
}
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}
.ui-icon-carat-1-e {
  background-position: -32px 0;
}
.ui-icon-carat-1-se {
  background-position: -48px 0;
}
.ui-icon-carat-1-s {
  background-position: -64px 0;
}
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}
.ui-icon-carat-1-w {
  background-position: -96px 0;
}
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}
.ui-icon-extlink {
  background-position: -32px -80px;
}
.ui-icon-newwin {
  background-position: -48px -80px;
}
.ui-icon-refresh {
  background-position: -64px -80px;
}
.ui-icon-shuffle {
  background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}
.ui-icon-folder-open {
  background-position: -16px -96px;
}
.ui-icon-document {
  background-position: -32px -96px;
}
.ui-icon-document-b {
  background-position: -48px -96px;
}
.ui-icon-note {
  background-position: -64px -96px;
}
.ui-icon-mail-closed {
  background-position: -80px -96px;
}
.ui-icon-mail-open {
  background-position: -96px -96px;
}
.ui-icon-suitcase {
  background-position: -112px -96px;
}
.ui-icon-comment {
  background-position: -128px -96px;
}
.ui-icon-person {
  background-position: -144px -96px;
}
.ui-icon-print {
  background-position: -160px -96px;
}
.ui-icon-trash {
  background-position: -176px -96px;
}
.ui-icon-locked {
  background-position: -192px -96px;
}
.ui-icon-unlocked {
  background-position: -208px -96px;
}
.ui-icon-bookmark {
  background-position: -224px -96px;
}
.ui-icon-tag {
  background-position: -240px -96px;
}
.ui-icon-home {
  background-position: 0 -112px;
}
.ui-icon-flag {
  background-position: -16px -112px;
}
.ui-icon-calendar {
  background-position: -32px -112px;
}
.ui-icon-cart {
  background-position: -48px -112px;
}
.ui-icon-pencil {
  background-position: -64px -112px;
}
.ui-icon-clock {
  background-position: -80px -112px;
}
.ui-icon-disk {
  background-position: -96px -112px;
}
.ui-icon-calculator {
  background-position: -112px -112px;
}
.ui-icon-zoomin {
  background-position: -128px -112px;
}
.ui-icon-zoomout {
  background-position: -144px -112px;
}
.ui-icon-search {
  background-position: -160px -112px;
}
.ui-icon-wrench {
  background-position: -176px -112px;
}
.ui-icon-gear {
  background-position: -192px -112px;
}
.ui-icon-heart {
  background-position: -208px -112px;
}
.ui-icon-star {
  background-position: -224px -112px;
}
.ui-icon-link {
  background-position: -240px -112px;
}
.ui-icon-cancel {
  background-position: 0 -128px;
}
.ui-icon-plus {
  background-position: -16px -128px;
}
.ui-icon-plusthick {
  background-position: -32px -128px;
}
.ui-icon-minus {
  background-position: -48px -128px;
}
.ui-icon-minusthick {
  background-position: -64px -128px;
}
.ui-icon-close {
  background-position: -80px -128px;
}
.ui-icon-closethick {
  background-position: -96px -128px;
}
.ui-icon-key {
  background-position: -112px -128px;
}
.ui-icon-lightbulb {
  background-position: -128px -128px;
}
.ui-icon-scissors {
  background-position: -144px -128px;
}
.ui-icon-clipboard {
  background-position: -160px -128px;
}
.ui-icon-copy {
  background-position: -176px -128px;
}
.ui-icon-contact {
  background-position: -192px -128px;
}
.ui-icon-image {
  background-position: -208px -128px;
}
.ui-icon-video {
  background-position: -224px -128px;
}
.ui-icon-script {
  background-position: -240px -128px;
}
.ui-icon-alert {
  background-position: 0 -144px;
}
.ui-icon-info {
  background-position: -16px -144px;
}
.ui-icon-notice {
  background-position: -32px -144px;
}
.ui-icon-help {
  background-position: -48px -144px;
}
.ui-icon-check {
  background-position: -64px -144px;
}
.ui-icon-bullet {
  background-position: -80px -144px;
}
.ui-icon-radio-on {
  background-position: -96px -144px;
}
.ui-icon-radio-off {
  background-position: -112px -144px;
}
.ui-icon-pin-w {
  background-position: -128px -144px;
}
.ui-icon-pin-s {
  background-position: -144px -144px;
}
.ui-icon-play {
  background-position: 0 -160px;
}
.ui-icon-pause {
  background-position: -16px -160px;
}
.ui-icon-seek-next {
  background-position: -32px -160px;
}
.ui-icon-seek-prev {
  background-position: -48px -160px;
}
.ui-icon-seek-end {
  background-position: -64px -160px;
}
.ui-icon-seek-start {
  background-position: -80px -160px;
}
.ui-icon-seek-first {
  background-position: -80px -160px;
}
.ui-icon-stop {
  background-position: -96px -160px;
}
.ui-icon-eject {
  background-position: -112px -160px;
}
.ui-icon-volume-off {
  background-position: -128px -160px;
}
.ui-icon-volume-on {
  background-position: -144px -160px;
}
.ui-icon-power {
  background-position: 0 -176px;
}
.ui-icon-signal-diag {
  background-position: -16px -176px;
}
.ui-icon-signal {
  background-position: -32px -176px;
}
.ui-icon-battery-0 {
  background-position: -48px -176px;
}
.ui-icon-battery-1 {
  background-position: -64px -176px;
}
.ui-icon-battery-2 {
  background-position: -80px -176px;
}
.ui-icon-battery-3 {
  background-position: -96px -176px;
}
.ui-icon-circle-plus {
  background-position: 0 -192px;
}
.ui-icon-circle-minus {
  background-position: -16px -192px;
}
.ui-icon-circle-close {
  background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}
.ui-icon-circle-check {
  background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}
.ui-corner-all {
  //Instead of the line below you could use @include border-top-left-radius($radius)
  border-top-left-radius: 5px;
  //Instead of the line below you could use @include border-top-right-radius($radius)
  border-top-right-radius: 5px;
  //Instead of the line below you could use @include border-bottom-left-radius($radius)
  border-bottom-left-radius: 5px;
  //Instead of the line below you could use @include border-bottom-right-radius($radius)
  border-bottom-right-radius: 5px;
}
.ui-corner-top {
  //Instead of the line below you could use @include border-top-left-radius($radius)
  border-top-left-radius: 5px;
  //Instead of the line below you could use @include border-top-right-radius($radius)
  border-top-right-radius: 5px;
}
.ui-corner-left {
  //Instead of the line below you could use @include border-top-left-radius($radius)
  border-top-left-radius: 5px;
  //Instead of the line below you could use @include border-bottom-left-radius($radius)
  border-bottom-left-radius: 5px;
}
.ui-corner-tl {
  //Instead of the line below you could use @include border-top-left-radius($radius)
  border-top-left-radius: 5px;
}
.ui-corner-right {
  //Instead of the line below you could use @include border-top-right-radius($radius)
  border-top-right-radius: 5px;
  //Instead of the line below you could use @include border-bottom-right-radius($radius)
  border-bottom-right-radius: 5px;
}
.ui-corner-tr {
  //Instead of the line below you could use @include border-top-right-radius($radius)
  border-top-right-radius: 5px;
}
.ui-corner-bottom {
  //Instead of the line below you could use @include border-bottom-left-radius($radius)
  border-bottom-left-radius: 5px;
  //Instead of the line below you could use @include border-bottom-right-radius($radius)
  border-bottom-right-radius: 5px;
}
.ui-corner-bl {
  //Instead of the line below you could use @include border-bottom-left-radius($radius)
  border-bottom-left-radius: 5px;
}
.ui-corner-br {
  //Instead of the line below you could use @include border-bottom-right-radius($radius)
  border-bottom-right-radius: 5px;
}
.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: $color_silver_chalice_approx $url_15 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 8px;
}
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}
.ui-resizable-disabled .ui-resizable-handle {
  display: none;
}
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  cursor: pointer;
}
body .ui-tooltip {
  border-width: 2px;
}




/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.9.7
 */
/* mixin definition ; sets LTR and RTL within the same style call */

md-autocomplete button ng-md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.9);
    transform: translate3d(-50%, -50%, 0) scale(0.9);
}

md-autocomplete button ng-md-icon path {
    stroke-width: 0;
}

.md-button.ng-md-icon {
    padding: 0;
    background: none;
}

.md-button.md-fab ng-md-icon {
    margin-top: 0;
}

md-checkbox .ng-md-icon {
    transition: 240ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 2px;
}

md-checkbox.md-checked .ng-md-icon {
    border: none;
}

md-checkbox.md-checked .ng-md-icon:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 2px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid;
    border-top: 0;
    border-left: 0;
    content: '';
}

.md-chips .md-chip .md-chip-remove ng-md-icon {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

ng-md-icon {
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

ng-md-icon svg {
    pointer-events: none;
    display: block;
}

ng-md-icon[md-font-icon] {
    line-height: 1;
    width: auto;
}

md-input-container > ng-md-icon {
    position: absolute;
    top: 5px;
    left: 2px;
}

md-input-container > ng-md-icon + input {
    margin-left: 36px;
}

md-input-container.md-icon-float > ng-md-icon {
    top: 26px;
    left: 2px;
}

md-input-container.md-icon-float > ng-md-icon + input {
    margin-left: 36px;
}

@media screen and (-ms-high-contrast: active) {
    md-input-container.md-default-theme > ng-md-icon {
        fill: #fff;
    }
}

md-list-item > div.md-primary > ng-md-icon,
md-list-item > div.md-secondary > ng-md-icon,
md-list-item > ng-md-icon:first-child,
md-list-item > ng-md-icon.md-secondary,
md-list-item .md-list-item-inner > div.md-primary > ng-md-icon,
md-list-item .md-list-item-inner > div.md-secondary > ng-md-icon,
md-list-item .md-list-item-inner > ng-md-icon:first-child,
md-list-item .md-list-item-inner > ng-md-icon.md-secondary {
    width: 24px;
    margin-top: 16px;
    margin-bottom: 12px;
    box-sizing: content-box;
}

md-list-item > ng-md-icon:first-child,
md-list-item .md-list-item-inner > ng-md-icon:first-child {
    margin-right: 32px;
}

md-list-item.md-2-line > ng-md-icon:first-child,
md-list-item.md-2-line > .md-no-style > ng-md-icon:first-child {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

md-list-item.md-3-line > ng-md-icon:first-child,
md-list-item.md-3-line > .md-no-style > ng-md-icon:first-child {
    margin-top: 16px;
}
