<div class="md-toolbar-tools">
    <!-- <md-button class="md-icon-button md-primary md-hue-1" aria-label="Favorite" id="leftNav" ng-click="toggleSidenav();" ng-show="loggedIn">
        <md-icon class="material-icons" aria-hidden="true" ng-hide="isNavbarOpen()">
        menu
        </md-icon>

        <md-icon class="material-icons" ng-hide="!isNavbarOpen()">
        arrow_back
        </md-icon>
    </md-button> -->
    <md-button id="menu-trigger" class="md-icon-button md-primary md-hue-1" aria-label="Favorite" id="leftNav" ng-click="toggleSidenav();" ng-show="loggedIn" ng-class="{ 'open': isNavbarOpen() === true }">
        <div class="line-wrap" >
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
        <!-- <md-icon class="material-icons" aria-hidden="true" ng-hide="isNavbarOpen()">
        menu
        </md-icon>

        <md-icon class="material-icons" ng-hide="!isNavbarOpen()">
        arrow_back
        </md-icon> -->
    </md-button>

    <h2>
        <img src="assets/images/collections-logo.png" style="height:50px;">
    </h2>


    <md-button class="md-primary md-hue-1" ui-sref="collections.duecollection" ng-show="loggedIn">
        Step 1
    </md-button>
    <md-button class="md-primary md-hue-1" ui-sref="collections.moneyreceived" ng-if="loggedIn">
        Step 2
    </md-button>

    <!-- <md-button class="md-primary md-hue-1" ui-sref="collections.jobtrigger" ng-if="loggedIn">
        Job Trigger
    </md-button> -->

    <span flex></span>
    <span style="margin-right:10px;" ng-show="loggedIn"><a ui-sref="landing">Home</a></span>
    <span>{{userDetails.name}}</span>
    <md-button class="md-warn md-hue-1 text-red" ng-if="loggedIn" ng-click="logout()">
        Logout
    </md-button>
</div>