<div class="md-toolbar-tools">
	<!-- <md-button class="md-icon-button md-primary md-hue-1" aria-label="Favorite" id="leftNav" ng-click="toggleSidenav();" ng-show="loggedIn">
		<md-icon class="material-icons" aria-hidden="true" ng-hide="isNavbarOpen()">
		menu
		</md-icon>

		<md-icon class="material-icons" ng-hide="!isNavbarOpen()">
		arrow_back
		</md-icon>
	</md-button> -->

	<md-button id="menu-trigger" class="md-icon-button md-primary md-hue-1" aria-label="Favorite" id="leftNav" ng-click="toggleSidenav();" ng-show="loggedIn" ng-class="{ 'open': isNavbarOpen() === true }">
		<div class="line-wrap" >
			<div class="line top"></div>
			<div class="line center"></div>
			<div class="line bottom"></div>
		</div>
		<!-- <md-icon class="material-icons" aria-hidden="true" ng-hide="isNavbarOpen()">
		menu
		</md-icon>

		<md-icon class="material-icons" ng-hide="!isNavbarOpen()">
		arrow_back
		</md-icon> -->
	</md-button>

	<h2>
	<!-- <span>Toolbar with Icon Buttons</span> -->
	<img src="assets/images/lms-logo.png" style="height:50px;">
	</h2>

	
	<!-- <span flex></span> -->
	<!-- <md-button class="md-primary md-hue-1" ui-sref="lms.assignvendor" id="btn1" ng-show="loggedIn">
		Step 1
	</md-button>
	<md-button class="md-primary md-hue-1" ui-sref="lms.docscollection" ng-show="loggedIn">
		Step 2
	</md-button>
	<md-button class="md-primary md-hue-1" ui-sref="lms.docsverification" ng-show="loggedIn">
		Step 3
	</md-button>
	<md-button class="md-primary md-hue-1" ui-sref="lms.nachregistration" ng-show="loggedIn">
		Step 4
	</md-button>
	<md-button class="md-primary md-hue-1" ui-sref="lms.disbursement" ng-show="loggedIn">
		Step 5
	</md-button>
	<md-button class="md-primary md-hue-1" ui-sref="lms.allApplications" ng-show="loggedIn">
		All Applications
	</md-button> -->
	
	<span flex></span>
	<span style="margin-right:10px;" ng-show="loggedIn"><a ui-sref="landing">Home</a></span>
	<span>{{userDetails.name}}</span>
	<md-button class="md-warn md-hue-1 text-red" ng-if="loggedIn" ng-click="logout()">
		Logout
	</md-button>
</div>