<div class="modal-header">
    <h3 class="modal-title">Payment distribution</h3>
</div>
<div class="modal-body">
	<div class="text-center text-danger" ng-if="status == 0">
		{{msg}}
	</div>
	<table class="table table-bordered">
		<tr>
			<th>Sr. No</th>
			<th>Loan ID</th>
			<th>Loan Amount</th>
			<th>OutStanding Amount</th>
			<th>Amount to be Adjusted</th>
			<th>Status</th>
			<th>New Amount</th>
			<th>Loan type</th>
		</tr>
		<tr ng-repeat="eachLoan in activeApp" ng-if="eachLoan.comments!='EXCESS PAYMENT'">
			<td>{{$index+1}}</td>
			<td>{{eachLoan.lmsId}}</td>
			<td>{{eachLoan.loanAmount | number:2 || "0.00"}}</td>
			<td>{{eachLoan.outstandingAmount | number:2 || "0.00"}}</td>
			<td>{{eachLoan.amountToBePulled | number:2 || "0.00"}}</td>
			<td ng-class="{'text-danger' : eachLoan.status == 'Inactive','text-success' : eachLoan.status == 'Active'}">{{eachLoan.status}}</td>
			<td>{{(eachLoan.outstandingAmount - eachLoan.amountToBePulled) | number:2 || "0.00"}}</td>
			<td>{{eachLoan.loanType}}</td>

		</tr>
	</table>
	<br>
	<table class="table table-bordered" ng-if="activeApp[activeApp.length-1].comments=='EXCESS PAYMENT'">
		<tr>
			<th rowspan="4">Excess Amount Details</th>
		</tr>
		<tr>
			<th>Transaction Ref No.</th>
			<th>Excess Amount</th>
			<th>Final OutStanding</th>
			<th>Payment Against</th>
		</tr>
		<tr >
			<td>{{activeApp[activeApp.length-1].lanNo}}</td>
			<td>{{activeApp[activeApp.length-1].amountToBePulled}}</td>
			<td>{{activeApp[activeApp.length-1].outstandingAmount - activeApp[activeApp.length-1].amountToBePulled}}</td>
			<td>MASTER</td>

		</tr>
	</table>
	<span ng-if="status == 1">{{msg}}</span>
	<br>
	<span ng-if="status == 1 && data[0].paymentMethod == 'NACH'" class="text-info">Clicking on Confirm will present NACH for this Dealer. Are you sure you want to proceed ahead?</span>
	<span ng-if="status == 1 && data[0].paymentMethod != 'NACH'" class="text-info">Peyment Method : {{data.paymentMethod}}, Payment Ref No : {{data.txnNo}} ; Are you sure you want to proceed ahead?</span>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-if="status == 1" ng-click="ok()" ng-disabled="isSubmit">Confirm</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>