<div class="modal-header">
    <h3 class="modal-title">Delaer Details</h3>
</div>
<div class="modal-body">
	<div class="row col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			Dealer Name
		</div>
		<div class="col-md-4">
			{{data.dealerName || "-"}}
		</div>
	</div>
	<div class="row col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			Phone No.
		</div>
		<div class="col-md-4">
			{{data.phoneNumber || "-"}}
		</div>
	</div>
	<div class="row col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			Sap ID
		</div>
		<div class="col-md-4">
			{{data.sapId || "-"}}
		</div>
	</div>
	<div class="row col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			PAN
		</div>
		<div class="col-md-4">
			{{data.panNumber || "-"}}
		</div>
	</div>
	<div class="row col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			DOB
		</div>
		<div class="col-md-4">
			{{data.dateOfBirth || "-"}}
		</div>
	</div>
	<div class="row col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			Father's Name
		</div>
		<div class="col-md-4">
			{{data.fathersName || "-"}}
		</div>
	</div>
	<div style="clear:both"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Confirm</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>