<div class="modal-header">
    <h3 class="modal-title">Confirm Payment</h3>
</div>
<div class="modal-body">
	<div class="row col-md-12">
		{{data}}
	</div>
	<div style="clear:both"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Confirm</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>