</div>
<div class="modal-body">
	<div class="text-center text-danger" ng-if="response.status=='failure'">
		{{response.message}}
	</div>
	<table class="table table-bordered">
		<tr>
			<th>S. No.</th>
			<th>ChildLoan ID</th>
			<th>Date Of Payment</th>
			<th>Dealer Id</th>
			<th>Guarantor Id</th>
			<th>Pi Due</th>
			<th>Pi Paid</th>
			<th>Outstanding</th>
			<th>Txn No</th>
		</tr>
		<tr ng-repeat="pilist in data.monthlyOutstandingPIList">
			<td>{{$index+1}}</td>
			<td>{{pilist.childLoanID}}</td>
			<td>{{pilist.dateOfPayment}}</td>
			<td>{{pilist.dealerId}}</td>
			<td>{{pilist.guarantorId}}</td>
			<td>{{pilist.piDue}}</td>
			<td>{{pilist.piPaid}}</td>
			<td>{{pilist.piDue-pilist.piPaid}}</td>
			<td>{{pilist.txnNo}}</td>
		</tr>
	</table>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="loadingGuarntorData" ng-if="response.status=='success'" ng-click="ok()">Confirm <img ng-show="loadingGuarntorData" width="20" height="20" src="assets/images/loader.gif"></button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>