<div> Product : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong>{{row.entity.productName}}</strong></div>
<div> Loan Amount : <strong>{{row.entity.loanAmount}}</strong></div>
<div> Tenure : 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong>{{row.entity.tenure}} Months</strong></div>
<div> Sap Id : 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong>{{row.entity.sapId}} </strong></div>
<div> Dealer Name : 	&nbsp;&nbsp;&nbsp;&nbsp;	<strong>{{row.entity.name}} </strong></div>



