<div class="recon-container">
    <div class="form-section">
        <label>Select bank</label>
        <md-radio-group ng-model="upload.bankName">
            <md-radio-button value="Axis">Axis Bank</md-radio-button>
            <md-radio-button value="Indusind">IndusInd bank</md-radio-button>
        </md-radio-group>
    </div>
    
    <button class="button button-primary button-block" style="padding: 0;">
    	Upload Recon Excel<img ng-show="uploadingExcel" width="20" height="20" src="assets/images/loader.gif">
    	<input type="file" style="opacity:0;position:absolute;top: 0;width: 100%;" ng-disabled="uploadingExcel" ng-model="updateLoanFile" ngf-select="uploadFile(updateLoanFile)">
    </button>
</div>