<md-sidenav class="md-sidenav-left md-whiteframe-z2 main-sidenav" md-component-id="left" >
    <md-content >
        <div class="profile-section">
            <div class="user-info">
                {{userDetails.name}} - {{userDetails.email}}
            </div>
        </div>
        <md-list flex>
            <md-divider></md-divider>
            
            <md-list-item ng-click="goTo('lms.assignvendor')" ng-if="(userDetails.roleId == 9 || userDetails.roleId == 8 || userDetails.roleId == 7) && canAccessSubModule('LMS','OPS') ">
            <p>LMS</p>
            </md-list-item>
            
            <md-divider></md-divider>

            <md-list-item ng-click="goTo('lenderconfig.list')">
            <p>LMS Lender Config</p>
            </md-list-item>
            
            <md-divider></md-divider>
            
            <md-list-item layout="row" ng-click="goTo('collections.duecollection')" ng-if="(userDetails.roleId == 9 || userDetails.roleId == 8 || userDetails.roleId == 7) && canAccessSubModule('LMS','COLLECTION')">
            <p>Collection</p>
            </md-list-item>
            
            <md-divider></md-divider>
            
            <md-list-item flex layout="row" ng-click="goTo('amort.details')" ng-if="(userDetails.roleId == 9 || userDetails.roleId == 8 || userDetails.roleId == 7) && canAccessSubModule('LMS','AMORT')">
            <p>Amort</p>
            </md-list-item>
            
            <md-divider></md-divider>
            
            <md-list-item flex layout="row" ng-click="goTo('soa.statement',{loanID:0})" ng-if="(userDetails.roleId == 9 || userDetails.roleId == 8 || userDetails.roleId == 7) && canAccessSubModule('LMS','SOA')">
            <p>SOA</p>
            </md-list-item>

            <!-- <md-divider></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('soa.childtrigger')" ng-if="(userDetails.roleId == 9 || userDetails.roleId == 8 || userDetails.roleId == 7) && canAccessSubModule('LMS','CHILDSOATRIGGER')">
            <p>Child SOA Trigger</p>
            </md-list-item>  -->   
            
            
            <!-- <md-divider></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.dealermaster')" ng-if="userDetails.roleId == 9 || canAccessSubModule('LMS','DF')">
            <p>Dealer Finance</p>
            </md-list-item> -->

            <md-divider></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('collections.jobtrigger')" ng-if="userDetails.roleId == 9 || canAccessSubModule('LMS','COLLECTIONJOBTRIGGER')">
            <p>Collection Job Trigger</p>
            </md-list-item>

            <md-divider></md-divider>
            
            <md-list-item flex layout="row" ng-click="goTo('lms.allApplications')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || canAccessSubModule('LMS','ALLLMSAPPLICATIONS')">
				  <p> All LMS Applications </p>
			</md-list-item>

            <md-divider></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('collections.allcollections')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 ||  canAccessSubModule('LMS','ALLLMSCOLLECTION')">
                  <p> All Collections </p>
            </md-list-item>

            <md-divider></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('loan.loanpaymentDefault')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || userDetails.roleId == 8 || canAccessSubModule('LMS')">
                  <p> Loan Payment Default</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('loan.refundDetails')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || userDetails.roleId == 8 || canAccessSubModule('LMS')">
                  <p> Refund Details</p>
            </md-list-item>
            <!-- <md-divider></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('loan.loanpayment')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || userDetails.roleId == 8 || canAccessSubModule('LMS','DF')">
                  <p> Loan Payment Dealer Finance</p>
            </md-list-item> -->
            <!-- <md-divider></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.rfc04')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || canAccessSubModule('LMS','DF')">
                  <p>Trigger RFC 04</p>
            </md-list-item>
            <md-divider></md-divider> -->
             <!-- <md-list-item flex layout="row" ng-click="goTo('dealerfin.rfc07')" ng-show="loggedIn" ng-if="(userDetails.roleId == 9 || userDetails.roleId == 8)">
                  <p>Trigger RFC 07</p>
            </md-list-item>
            <md-divider></md-divider> -->
            <!-- <md-list-item flex layout="row" ng-click="goTo('dealerfin.limitupdade')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || canAccessSubModule('LMS','DF')">
                  <p>Limit Update</p>
            </md-list-item>
            <md-divider></md-divider> -->
        </md-list>
    </md-content> 
</md-sidenav>