<md-sidenav class="md-sidenav-left md-whiteframe-z2 main-sidenav" md-component-id="left" >
    <md-content >
        <div class="profile-section">
            <div class="user-info">
                {{userDetails.name}} - {{userDetails.email}}
            </div>
        </div>
        <md-list flex>
           
            
            
            <md-divider></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.dealermaster')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Dealer Master</p>
            </md-list-item>

            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))" ></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.masterloan')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Master Loan</p>
            </md-list-item>
            
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))" ></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.childtrigger')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Child SOA Trigger</p>
            </md-list-item>

            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.alldealers')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
				  <p>All Dealers</p>
			</md-list-item>

            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.invoicedetails')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p> Invoice Details </p>
            </md-list-item>

            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.emischedule')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p> EMI Schedule </p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.cdmcollection')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p> DM Collection entry </p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.dealercontact')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p> Dealer Contact </p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.alldealercontact')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p> All Dealer Contacts </p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.pipanel')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p> PI Panel </p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))" ></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.smstemplate')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p> SMS Template </p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.slab')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p> Slab update </p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>

            <md-list-item flex layout="row" ng-click="goTo('dealerfin.rfc04')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p>Trigger RFC 04</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.loanpayment')" ng-show="loggedIn" ng-if="userDetails.roleId == 9  || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p> Loan Payment Dealer Finance</p>
            </md-list-item>

             <!-- <md-list-item flex layout="row" ng-click="goTo('dealerfin.rfc07')" ng-show="loggedIn" ng-if="(userDetails.roleId == 9 || userDetails.roleId == 8)">
                  <p>Trigger RFC 07</p>
            </md-list-item>
            <md-divider></md-divider> -->
            <md-divider ng-if="userDetails.roleId == 9  || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.limitupdade')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p>Limit Update</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.smsReport')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p>Sms Report</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.rfcReport')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p>RFC Report</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.adhocsms')" ng-show="loggedIn" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
                  <p>AdHoc Sms</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>

            
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.details')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') || (canAccessModule('DF') && canAccessModule('DFREADONLY')))">
            <p>Amort</p>
            </md-list-item>
            
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') || (canAccessModule('DF') && canAccessModule('DFREADONLY')))"></md-divider>
            
            <md-list-item flex layout="row" ng-click="goTo('dealerfin.statement',{loanID:0})" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') || (canAccessModule('DF') && canAccessModule('DFREADONLY')))">
            <p>SOA</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') || (canAccessModule('DF') && canAccessModule('DFREADONLY')))"></md-divider>
            
             <md-list-item layout="row" ng-click="goTo('collections.duecollection')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Collection</p>
            </md-list-item>
            
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item layout="row" ng-click="goTo('dealerfin.excessPayment')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Excess Payments</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item layout="row" ng-click="goTo('dealerfin.excessPaymentAgeing')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Excess Payment Ageing</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item layout="row" ng-click="goTo('dealerfin.dailyAgingDashboard')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Daily Outstanding Ageing</p>
            </md-list-item>
            
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item layout="row" ng-click="goTo('dealerfin.paymentBreakupReport')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Payment Breakup Report</p>
            </md-list-item>
            
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item layout="row" ng-click="goTo('dealerfin.chequePayments')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Cheque Payments</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item layout="row" ng-click="goTo('dealerfin.soaPanel')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))">
            <p>Soa Panel</p>
            </md-list-item>
            
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
            <md-list-item layout="row" ng-click="goTo('dealerfin.mypayments')" ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))" >
            <p>Payments</p>
            </md-list-item>
            <md-divider ng-if="userDetails.roleId == 9 || (canAccessModule('DF') && !canAccessModule('DFREADONLY'))"></md-divider>
        </md-list>
    </md-content> 
</md-sidenav>