<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Project Title</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="shortcut icon" href="favicon.ico?ver=1">

    <!-- set default share info -->
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="css/vendor/vendor.css">

    <style type="text/css" media="print">
        @media print{ .table{ height:100%;overflow:visible;} } 
    </style>
    <link rel="stylesheet" href="css/style.css">

    <script src="scripts/priority.js"></script>

    <!-- Google Analytics -->
    <script>
    /*
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXX-Y', 'auto');
    */
    </script>
    <!-- End Google Analytics -->
</head>

<body >

    <!-- begin: incompatible browser page -->
    <div class="incompatibleBrowser">Incompatible browser page</div>
    <!-- end: incompatible browser page -->
    <!-- begin: loader -->
    <div class="loader"></div>
    <!-- end: iloader -->
    <!-- begin: main app -->
    <!-- <div ng-cloak ng-controller="RootCtrl" layout="row"> -->
        <toaster-container toaster-options="{'close-button': true,'time-out': 3000}"></toaster-container>
        <div ui-view class="height100per"></div>
        <!-- <md-content flex>
            <div layout-fill flex layout-align="top center">
                <md-toolbar class="md-whiteframe-1dp site-content-toolbar">
                    <div class="md-toolbar-tools">
                    
                        <h2>
                            <img src="assets/images/lms-logo.png" style="height:50px;">
                        </h2>
                        <md-button class="md-primary md-hue-1" ui-sref="assignvendor" id="btn1" ng-show="loggedIn">
                            Step 1
                        </md-button>
                        <md-button class="md-primary md-hue-1" ui-sref="docscollection" ng-show="loggedIn">
                            Step 2
                        </md-button>
                        <md-button class="md-primary md-hue-1" ui-sref="docsverification" ng-show="loggedIn">
                            Step 3
                        </md-button>
                        <md-button class="md-primary md-hue-1" ui-sref="nachregistration" ng-show="loggedIn">
                            Step 4
                        </md-button>
                        <md-button class="md-primary md-hue-1" ui-sref="disbursement" ng-show="loggedIn">
                            Step 5
                        </md-button>
                        <md-button class="md-primary md-hue-1" ui-sref="allApplications" ng-show="loggedIn">
                            All Applications
                        </md-button>
                        <span flex></span>
                        <md-button class="md-warn md-hue-1" ng-if="loggedIn" ng-click="logout()">
                            Logout
                        </md-button>
                    </div>
                </md-toolbar>
                <div layout="row" layout-margin layout-padding>
                <md-content class='md-margin md-padding' flex>
                    <div class="main view-change-animate" ui-view  flex="100"></div>
                </md-content>
                </div>
                <footer ng-include=" 'tpls/partials/footer.html' "></footer>
            </div>
        </md-content> -->
    <!-- </div> -->
    <!-- end: main app -->
    <script src="scripts/lib.js"></script>
    <script src="scripts/main.js"></script>
    <script type="text/ng-template" id="warning-dialog.html">
  <div class="modal-header">
   <h3>You're Idle. Do Something!</h3>
  </div>
  <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
   <progressbar max="5" value="5" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</progressbar>
  </div>

</script>
<script type="text/ng-template" id="timedout-dialog.html">
  <div class="modal-header">
   <h3>You've Timed Out!</h3>
  </div>
  <div class="modal-body">
   <p>
      You were idle too long. Normally you'd be logged out, but in this demo just do anything and you'll be reset.
   </p>
 </div>
</script>
</body>
</html>
