html, body {
    width: 100%;
    height: 100%;
}
html {
    font-size: 16px;
}
body {
    font-size: 62.5%; /* 1em = 10px */
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}
a {
    color: #000099;
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    color: #000066;
}
canvas {
    display: block;
}

.myGrid {
    width: 100%;
    height: 100%;
  }


  .ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
  height: auto !important;
}

.ui-grid-row div[role=row] {
  display: flex ;
  align-content: stretch;
}

.myGrid .ui-grid-row .red-error {
  background-color: #bf4930;
}

.myGrid .ui-grid-row .yellow-warning {
  background-color: #faeb05;
}

.watermark {
  position: absolute;
  top: 50%;                    
  transform: translateY(-50%); 
  opacity: 0.25;
  font-size: 3em;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.ui-grid-selectable .ui-grid-disable-selection {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor:auto;
}

.overflow-visible{
  overflow:visible !important;
}
