.whitebox-container {
    background-color: #FFFFFF;
    box-shadow: 0 10px 10px 0 rgba(153, 153, 153, 0.1);
    padding: 40px;
}

.page-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    background-color: transparent;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    min-height: auto;
    &.table-stripe {
        tbody {
            tr {
                &:nth-of-type(even) {
                    background: #F8F8F8;
                }
            }
        }
    }
}

.table td {
    padding: 21px 10px !important;
    vertical-align: middle !important;
}

.table thead th {
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: normal;
}

.loan-application-list {
    .table {
        border-bottom: #F8F8F8 solid 1px;
        .loan-purpose-text {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
        }
        thead {
            text-align: left;
            background-color: #F8F8F8;
            border-bottom: 1px solid #eaeaea;
            tr {
                box-shadow: 0 1px 0 0 rgba(153, 153, 153, 0.2);
                th {
                    font-size: 12px;
                    color: #333;
                    text-transform: capitalize;
                    border: 0;
                    font-weight: 700;
                    padding: 12px 10px;

                    &:first-child {
                        padding-left: 20px;
                    }
                    .sort-by {
                        position: relative;
                        display: inline-block;
                        margin-left: 8px;
                        width: 8px;
                        height: 10px;
                        vertical-align: middle;

                        &:before,
                        &:after {
                            border: 4px solid transparent;
                            content: "";
                            display: block;
                            height: 0;

                            top: 50%;
                            position: absolute;
                            width: 0;
                        }
                        &:before {
                            border-bottom-color: #ccc;
                            margin-top: -9px;
                        }
                        &:after {
                            border-top-color: #ccc;
                            margin-top: 1px;
                        }
                        &.active-sort {
                            &.active-top {
                                &:before {
                                    border-bottom-color: #333;
                                }
                            }
                            &.active-bottom {
                                &:after {
                                    border-top-color: #333;
                                }
                            }
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid #F6F6F6;
                &:last-child {
                    border-bottom: 0;
                }
                td {

                    border-top: 0;
                    font-size: 14px;
                    color: #333;
                    &:first-child {
                        padding-left: 20px;
                    }
                    &:last-child {

                        padding: 15px 20px 15px 10px;
                    }
                }
                &:hover {
                    .on-hover {
                        visibility: visible;
                    }
                    .status-btn {
                        &.pending {
                            border-color: #EBA214;
                        }
                    }
                    .info {
                        &:after {
                            background: #CCCCCC;
                            color: #fff;
                        }

                        &:hover {
                            .info-container {
                                opacity: 1;
                                top: 27px;
                                visibility: visible;
                            }
                            &:after {
                                background: #333;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pagination {
    text-align: center;
    margin-top: 30px;
    position: relative;
    width: 100%;
    ul {
        display: inline-block;
        li {
            margin-right: 15px;
            display: inline-block;
            margin-left: -4px;
            color: #2C83F6;
            cursor: pointer;
            position: relative;
            text-align: center;
            &:last-child {
                margin-right: 0;
                margin-left: 9px;
                padding-right: 17px;
                -webkit-transition-duration: 1s;
                -webkit-transform: translateX(1px);
                &:hover {
                    -webkit-transition-duration: 500ms;
                    -webkit-transform: translateX(10px);
                }
                &:after {
                    background-position: -385px -259px;
                    content: '';
                    background-image: url(../assets/images/ct-agent2x.png);
                    background-size: 483px auto;
                    background-repeat: no-repeat;
                    position: absolute;
                    width: 8px;
                    height: 13px;
                    top: 50%;
                    margin-top: -6.5px;
                    right: 0;
                }
                &.disabled {

                    &:after {
                        background-position: -335px -259px;
                        -ms-transform: rotate(180deg);
                        /* IE 9 */
                        -webkit-transform: rotate(180deg);
                        /* Chrome, Safari, Opera */
                        transform: rotate(180deg);
                    }
                }
            }
            &:first-child {
                margin-right: 30px;
                padding-left: 17px;
                -webkit-transition-duration: 1s;
                -webkit-transform: translateX(1px);
                &:hover {
                    -webkit-transition-duration: 500ms;
                    -webkit-transform: translateX(-10px);
                }
                &:before {
                    background-position: -335px -259px;
                    content: '';
                    background-image: url(../assets/images/ct-agent2x.png);
                    background-size: 483px auto;
                    background-repeat: no-repeat;
                    position: absolute;
                    width: 8px;
                    height: 13px;
                    top: 50%;
                    margin-top: -6.5px;
                    left: 0;
                }
                &.active-menu {
                    &:before {
                        background-position: -385px -259px;
                        -ms-transform: rotate(180deg);
                        /* IE 9 */
                        -webkit-transform: rotate(180deg);
                        /* Chrome, Safari, Opera */
                        transform: rotate(180deg);
                    }
                }
            }

            a {
                border: 1px solid #2C83F6;
                width: 30px;
                height: 30px;
                line-height: 28px;
                background: #fff;
                border-radius: 4px;
                font-size: 14px;
                color: #2C83F6;
                display: inline-block;
                background-image: linear-gradient(#2C83F6, #2C83F6);
                background-repeat: no-repeat;
                transition: background-size .2s, color .2s;
                background-size: 0% 0%;
                background-position: 50% 50%;
                &:hover {
                    text-decoration: none;
                }
            }
            &:hover {
                a {
                    border: 1px solid #2C83F6;
                    /*background-color: #2C83F6;*/
                    background-size: 100% 100%;
                    color: #fff;
                    font-weight: 700;
                }
            }
            &.active,
            &:active {
                a {
                    background-color: #F7F7F7;
                    border: 1px solid #F7F7F7;
                    background-size: 0% 0%;
                    color: #333;
                    font-weight: 700;
                    cursor: default;
                }
            }
            &.disabled {
                color: #ccc;
                cursor: default;
                &:hover {
                    -webkit-transition-duration: 500ms;
                    -webkit-transform: translateX(1px)!important;
                }
            }
        }
    }
    .pagination-right {
        position: absolute;
        font-size: 14px;
        color: #999999;
        right: 0;
        bottom: 0;
        md-select.md-default-theme .md-select-value,
        md-select .md-select-value {
            border-bottom: none;
            padding: 0;
        }
        md-select {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin: 0 10px;
            vertical-align: middle;
            width: 55px;
            padding: 0 10px;
            .md-select-value {
                min-width: 37px;
                height: 28px;
            }
        }
    }
}

.form-control-input {
    display: block;
    background: #ffffff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0 15px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #333;
    text-transform: capitalize;
    &:disabled {
        background-color: #f6f6f6;
    }
    &.textarea-height40 {
        height: 40px;
        line-height: 40px;
    }
    &:focus {
        outline: none;
    }
    &.mismatch-input {
        width: 150px;
        height: 40px;
        border-color: #ff0000;
        line-height: 40px;
    }
    &.statusdp {
        width: 150px;
        margin: 0;
        font-weight: normal;
        height: 40px;
        .md-select-value {
            padding: 0;
            border: none;
            height: 40px;
        }
        md-select.md-default-theme:not([disabled]):focus .md-select-value,
        md-select:not([disabled]):focus .md-select-value {}
    }
    &.select-search {
        display: inline-block;
        width: 160px;
        margin: 0;
        vertical-align: top;
        border-radius: 4px 0 0 4px;
        padding-right: 6px;
        font-weight: normal;
        .md-select-value {
            padding: 0;
            border: none;
        }
        .md-select-value.md-select-placeholder {
            padding: 0;
            border: none;
        }
        .md-select-value .md-select-icon:after {
            content: "";
            background-image: url(../assets/images/ct-agent2x.png);
            background-size: 483px auto;
            background-position: -416px -124px;
            width: 12px;
            height: 7px;
            transform: none;
            display: inline-block;
            margin: 0;
        }
    }
    &.search-box {
        display: inline-block;
        width: calc(100% - 160px);
        margin-left: -4px;
        border-radius: 0 4px 4px 0;
        border-left: none;
    }
}

.paymentsearch {
    display: inline-block;
    width: calc(100% - 490px);
    position: relative;
}

.filter-section {
    padding-bottom: 40px;
    button {
        vertical-align: top;
    }
}
md-radio-button .md-off{
    border-width: 1px;
}
md-radio-button.md-default-theme .md-on, md-radio-button .md-on{
    background-color: #2C83F6;
}
md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off{
    border-color: #2C83F6;
}
.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    height: 50px;
    font-size: 14px;
    line-height: 48px;
    padding: 0 20px;
    font-weight: 500;
    position: relative;
    transition: .2s;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.button-border {
        border: solid 1px #0c9448;
        background-color: transparent;
        color: #0c9448;
    }
    &.button-border-gray {
        border: solid 1px #ccc;
        background-color: transparent;
        color: #999;
        width: 100px;
        padding: 0 10px;
    }
    &.button-primary {
        background-color: #0c9448;
        color: #fff;
    }
    &.buttonspace {
        margin: 0 5px;
    }
    &.download-btn {
        padding-left: 37px;
        &:before {
            content: '';
            width: 12px;
            height: 16px;
            position: absolute;
            background-image: url(../assets/images/ct-agent2x.png);
            background-size: 483px auto;
            background-repeat: no-repeat;
            background-position: -326px -195px;
            left: 15px;
            top: 50%;
            margin-top: -8px;
        }
    }
}

.icon {
    background-image: url(../assets/images/ct-agent2x.png);
    background-size: 483px auto;
    display: inline-block;
}

.icon-down {
    width: 12px;
    height: 7px;
    background-position: -416px -124px;
}

.mismatch-action {
    margin-top: 50px;
    button {
        margin: 0 10px;
    }
}

.filter-button {
    position: relative;
    display: inline-block;
}

.text-red {
    color: #ff0000;
}

.filter-box {
    display: inline-block;
    width: 100px;
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
    .form-control-input {
        width: 100%!important;
        padding-right: 25px;
        padding: 0 10px;
        text-align: left;
        color: #999;
        font-weight: 400;
        line-height: 50px;
        &:focus,
        &:active {
            color: #333;
        }
    }
    &:focus,
    &:active {
        .icon-down {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -3.5px
        }
    }
    .icon-down {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -3.5px
    }
    .filter-wrap {
        width: 410px;
        padding: 20px 20px 30px;
        max-height: 595px;
        right: 0;
        top: 60px;
        &:before,
        &:after {
            bottom: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(255, 254, 237, 0);
            border-bottom-color: #fff;
            border-width: 8px;
            margin-left: -39px;
            right: 20px;
        }
        &:before {
            border-color: rgba(204, 204, 204, 0);
            border-bottom-color: #e9e9e9;
            border-width: 9px;
            margin-left: -40px;
            right: 19px;
        }


        .filter-row {
            margin-bottom: 25px;
            text-align: left;
            md-checkbox {
                margin-bottom: 15px;
                .md-label {
                    margin-left: 30px;
                    color: #333;
                }
            }
            &.text-center {
                text-align: center;
            }
            &:last-of-type {
                margin-bottom: 0;
                margin-top: 20px;
            }
            &:before,
            &:after {
                content: '';
                clear: both;
                display: table;
            }
            label {
                display: block;
                font-size: 12px;
                line-height: 14px;
                font-weight: 400;
                color: #999;
                margin-bottom: 7px;
                width: 100%;
            }
            .row-field {
                width: 150px;
                display: inline-block;
                margin-right: 10px;
                position: relative;
                &.width100 {
                    width: 100%;
                    md-radio-button {
                        display: inline-block;
                        width: calc(50% - 2px);
                    }
                }

                .form-control-input {
                    height: 40px;
                    line-height: 40px;
                    color: #333;
                }
            }
            .sep {
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;
                color: #999;
            }
            &.checkboxes-cont {
                margin-bottom: 11px;
                .row-field {
                    width: 50%;
                    float: left;
                    margin-right: 0;
                    padding-right: 15px;
                }
                md-checkbox {
                    .md-container {
                        width: 20px;
                        height: 20px;
                        .md-label {
                            font-size: 14px;
                            color: #333;
                            margin-left: 30px;
                        }
                        .md-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

textarea {
    resize: none;
}

md-select.md-default-theme:not([disabled]):focus .md-select-value,
md-select:not([disabled]):focus .md-select-value {
    border: none;
}

.dropdown-container {
    border: 1px solid #e9e9e9;
    z-index: 1;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
    position: absolute;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

.container-header {
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #F6F6F6;
    font-size: 14px;
    position: relative;
    min-height: 55px;
    padding-right: 140px;
    text-align: left;
    label {
        font-size: 14px;
        line-height: 34px;
        color: #333333;
        font-weight: 700;
    }
    .button.button-small {
        height: 35px;
        line-height: 35px;
        right: 10px;
        top: 11px;

        position: absolute;
    }
}

.filter-wrap .container-header {
    margin: -20px -20px 20px;
}

.iconCalender {
    width: 16px;
    height: 16px;
    background-position: -416px -257px;
    cursor: pointer;
}

.datePickerIcon .iconCalender {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 10px;
}

.rupeesIcon .symbol-rupee {
    color: #333;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -9.5px;
}

.rupeesIcon .form-control-input {
    padding-left: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder {
    color: #999 !important;
    font-weight: normal !important;
    text-transform: none !important;
}

:-moz-placeholder {
    color: #999 !important;
    font-weight: normal !important;
    text-transform: none !important;
}

::-moz-placeholder {
    color: #999 !important;
    font-weight: normal !important;
    text-transform: none !important;
}

:-ms-input-placeholder {
    color: #999 !important;
    font-weight: normal !important;
    text-transform: none !important;
}

.search-icon {
    position: absolute;
    width: 33px;
    height: 38px;
    right: 10px;
    top: 5px;
    border: 0;
    background-color: transparent;
    padding: 0;
    background-position: -204px -181px;
    border-radius: 0 4px 4px 0;
}

button {
    outline: none;
}

.progress-recon {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11111;
    .progress {
        width: 500px;
        height: 34px;
        border-radius: 17px;
    }
    .progress-bar {
        line-height: 34px;
    }
    h2 {
        display: block;
        margin-bottom: 20px;
    }
    .please-wait {
        color: #999;
    }
}

.loader-btn {
    border: 3px solid #fff;
    border-radius: 50%;
    border-top: 3px solid #2C83F6;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: inline-block;
}

.red-loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #d71920;
}

.recon-container {
    padding: 40px;
    min-width: 400px;
    .form-section {
        label {
            display: block;
            width: 100%;
            margin-bottom: 5px;
            color: #999;
            font-weight: normal;
        }
        md-radio-button {
            display: inline-block;
            width: calc(50% - 4px);
        }
    }
}

.button-block {
    display: block;
    width: 100%;
    margin-top: 10px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}