@import "compass/reset";

@import "shared";
@import "base";
@import "fonts";

@import "modules/animation";
@import "modules/layout";
@import "modules/incompatibleBrowser";
@import "modules/loader";
@import "modules/jquery";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../bower_components/font-awesome/scss/font-awesome";
@import "mypayment";
.site-content-toolbar {
    background: #f6f6f6 !important;
    color: #202020 !important;
    z-index: 3000;
    position: fixed;
    top: 0;
}
.uploadsection {
    background-color: rgb(255,64,129);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    max-width: 150px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 36px;
    line-height: 36px;
    margin-bottom: 5px;

    span {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 36px;
    line-height: 36px;
    left: 0px;
    cursor: pointer;
    outline: none !important;
	}

	input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 36px;
    cursor: pointer;
    position: relative;
    z-index: 1;
	}
}

.list {
    list-style:inherit !important;
    margin-left:15px !important;
}

md-backdrop.md-sidenav-backdrop{
    display:none
}

.height100per {
    height : 100%;
}

.margin-top-65{
    margin-top: 65px !important;
 }

.main-sidenav {
    margin-top: 60px;
    position: fixed;
}

.profile-section{
    display: block;
    height: 200px;
    margin-bottom: 5px;
    width: 100%;
    background: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg) no-repeat left top;
    background-size: 100%;
    overflow: hidden;
}

.user-info {
    background: rgba(0, 0, 0, 0.37);
    //padding: 15px 14px;
    color: #fff;
    position: relative;
    margin-top: 151px;
    font-size: large;
}


.text-red{
    color : red !important;
}

$color_dove_gray_approx: #717171;

#ms-menu-trigger {
    /*//Instead of the line below you could use @include user-select($select)
    user-select: none;*/
    float: left;
    margin: 1px 0 0 -7px;
    .line-wrap .line {
        background-color: $color_dove_gray_approx;
    }
}
/*@media(min-width: 768px) {
    #ms-menu-trigger {
        display: none;
    }
}*/

#menu-trigger {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#menu-trigger .line-wrap .line {
  background-color: rgb(121,134,203) !important;
}

#menu-trigger:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 7px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.22);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 0;
}

#menu-trigger.open:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.line-wrap {
    width: 18px;
    height: 12px;
    
    transition: all;
    
    transition-duration: 300ms;
    margin: 0px;
    .line {
        width: 18px;
        height: 2px;
    
        transition: all;
        background-color: #fff;
        transition-duration: 300ms;
        &.center {
            margin: 3px 0;
        }
    }
}
.open .line-wrap {
    
    transform: rotate(180deg);
    .line {
        &.top {
            width: 12px;
    
            transform: translateX(8px) translateY(1px) rotate(45deg);
        }
        &.bottom {
            width: 12px;
    
            transform: translateX(8px) translateY(-1px) rotate(-45deg);
        }
    }
}

.text-capitalize{
  text-transform: capitalize;
}

.modal-dialog{
  margin-top:100px;
}

.border-custom{
  div{
    div{
    border:1px solid #000000;
    }
  }
}

.padding-left-25{
  padding-left:30px !important;
}

.icon-text{
  font-size:12px !important;
}

#tbl1,#tbl2,#tbl3,#tbl4{
  tr{
    td,th{
      text-align:center;
    }
  }
}

.padding-left{
  padding-left: 20px;
}
.padding-right{
  padding-right: 20px;
}

.loader-lms{
  position: relative;
  background: #efefef;
  /*position:absolute;
  text-align: center;
  z-index: 100;
  top:0;
  bottom: 0;
  right:0;
  left:0;
  background: #efefef;
  opacity: 0.5;*/
}
/*.table-loader {
  top: 110px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background: #5c2f84;
  //top: 298px;
  display: inline-block;*/
  .loader-full-page{
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    background-color: #efefef;
    opacity:0.5;
    text-align: center;
    z-index: 2050;
  }

@media print{@page {size: landscape}
.parent{
  background-color: gray;
  font-size:15px;
  >td{
  font-weight: bold;
  }
}
@media print {
    .next-page{page-break-after: always;}
}
}
.parent{
  background-color: gray;
  font-size:15px;
  >td{
  font-weight: bold;
  }
}
