<div class="whitebox-container" ng-if="paymentRecordView">
    <div class="page-title">Payment Records</div>
    <div class="filter-section">
        <div class="paymentsearch">
            <md-select ng-model="search.searchFilter" class="form-control-input select-search" placeholder="Select">
                <md-option value="remitterUTR">Transaction Id</md-option>
                <md-option value="dealerId">Dealer Id</md-option>
            </md-select>
            <input type="text" name="" ng-model="search.searchParameter" class="form-control-input search-box" placeholder="Search ...">
            <button type="submit" class="icon search-icon" ng-click="searchBankTranscations(search)"></button>
            <div ng-if="search.searchFilterError">Select one of Filter</div>
            <div ng-if="!search.searchFilterError && search.searchParameterError">Select one of Filter parameter</div>
        </div>
        <div class="filter-box">
            <div class="form-control-input small-input filter-content" ng-click="search.filter.showingFilterContents = !search.filter.showingFilterContents">Filter By</div>
            <span class="icon icon-down filter-content" ng-click="search.filter.showingFilterContents = !search.filter.showingFilterContents"></span>
            <div class="dropdown-container filter-wrap" click-outside="hideFilter()" outside-if-not="filter-content" ng-show="search.filter.showingFilterContents">
                <div class="container-header floated">
                    <label>Filter by</label>
                    <button class="button button-primary button-small" ng-disabled="search.filter.applyingFilter" ng-click="applyFilterBankTranscations(search)">Apply
                        <div class="loader-btn" ng-if="search.filter.applyingFilter"></div>
                    </button>
                </div>
                <form>
                    <div class="filter-row datePickerIcon">
                        <label>Date Range</label>
                        <div class="row-field">
                            <input class="form-control-input" id="dateToImport" type="text" max-date="today" uib-datepicker-popup="dd-MM-yyyy" disabled="true" ng-change="changeEndDate(search.filter.startDate)" ng-model="search.filter.startDate" is-open="dateToImportIsOpen3" ng-focus="dateToImportIsOpen3 = true" placeholder="Start Date" />
                            <span class="icon iconCalender" ng-click="dateToImportIsOpen3=true"></span>
                        </div>
                        <span class="sep">to</span>
                        <div class="row-field">
                            <input class="form-control-input" id="dateToImportsdas" type="text" min-date="minDate" max-date="today"  uib-datepicker-popup="dd-MM-yyyy" disabled="true" ng-model="search.filter.endDate" is-open="dateToImportIsOpen4" ng-focus="dateToImportIsOpen4 = true" placeholder="End Date" />
                            <span class="icon iconCalender" ng-click="dateToImportIsOpen4=true"></span>
                        </div>
                    </div>
                    <!-- <div class="filter-row">
                        <label>Bank Name</label>
                        <div class="row-field width100">
                            <md-radio-group ng-model="data.group1">
                                <md-radio-button value="axis">Axis bank</md-radio-button>
                                <md-radio-button value="indusind">IndusInd bank</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="filter-row">
                        <label>Mode</label>
                        <div class="row-field width100">
                            <md-radio-group ng-model="data.group1">
                                <md-radio-button value="axis">NEFT</md-radio-button>
                                <md-radio-button value="indusind">IMPS</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="filter-row">
                        <label>Payment Status</label>
                        <div class="row-field width100">
                            <md-radio-group ng-model="data.group1">
                                <md-radio-button value="axis">Under Review</md-radio-button>
                                <md-radio-button value="indusind">Initiated</md-radio-button>
                                <md-radio-button value="indusind">Applied</md-radio-button>
                                <md-radio-button value="indusind">Approved</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="filter-row">
                        <label>Recon Status</label>
                        <div class="row-field width100">
                            <md-radio-group ng-model="data.group1">
                                <md-radio-button value="axis">Done</md-radio-button>
                                <md-radio-button value="indusind">Pending</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div> -->
                    <div class="filter-row text-center">
                        <a ng-click="resetFilters(search)" class="link">Reset Filters</a>
                    </div>
                </form>
            </div>
        </div>
        <button class="button button-border buttonspace download-btn" ng-disabled="bankTransactionDataDownloading" ng-click="downloadTransactions(search)">Download Report<div class="loader-btn" ng-if="bankTransactionDataDownloading"></div></button>
        <button class="button button-primary buttonspace" ng-click="showTabDialog()">Upload Recon Excel</button>
    </div>
    <div class="application-list">
        <div class="loan-application-list">
            <table class="table table-stripe">
                <thead>
                    <tr>
                        <th>
                            Transaction Number
                        </th>
                        <th>
                            Dealer ID
                        </th>
                        <th class="agent-name">Amount
                        </th>
                        <th class="customer-name">Bank Name
                        </th>
                        <th class="customer-name">Mode
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Payment Status
                        </th>
                        <th>
                            User ID
                        </th>
                        <th>
                            Recon Status
                        </th>
                        <th>
                            Reason
                        </th>
                        <th>Action
                        </th>
                        <th>Submit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in bankTransactionsData.bankTransactions">
                        <td>
                            {{data.remitterUTR}}
                        </td>
                        <td>
                            {{data.dealerId}}
                        </td>
                        <td>
                            &#8377;{{data.amount}}
                        </td>
                        <td>
                            {{data.clientBank}}
                        </td>
                        <td>
                            {{data.paymentMethod}}
                        </td>
                        <td>
                            {{data.creditTime | date:"dd MMM yyyy"}}
                        </td>
                        <td>
                            {{data.status}}
                        </td>
                        <td>
                            {{data.userId}}
                        </td>
                        <td>
                            {{data.reconStatus}}
                        </td>
                        <td>
                            <span ng-if="data.status!='Under Review'">{{data.reason}}</span>
                            <textarea ng-if="data.status=='Under Review'" class="form-control-input textarea-height40" ng-disabled="data.newStatus!='Reject'" ng-model="data.reason"></textarea>
                        </td>
                        <td>
                            <md-select ng-if="data.status=='Under Review'" ng-model="data.newStatus" class="form-control-input statusdp" placeholder="Select Status">
                                <md-option value="Approve">Approve</md-option>
                                <md-option value="Reject">Reject</md-option>
                            </md-select>

                        </td>
                        <td>
                            <button ng-if="data.status=='Under Review'" ng-disabled="!data.newStatus || data.doingAction" class="button button-primary" ng-click="doTransactionCorrection(data,true)">
                                Submit
                                <img ng-show="data.doingAction" width="20" height="20" src="assets/images/loader.gif">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination total-items="bankTransactionsData.count" ng-model="pagination.pageNum" items-per-page="pagination.pageLimit" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pagination.numPages" ng-change="getAllBankTransactions(search)"></pagination>
        <div class="pagination" layout="row">
            <!--  -->
            <!-- <ul>
                <li class="disabled">Previous</li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li class="active-menu">Next</li>
            </ul> -->
            <div class="pagination-right">
                Show
                <!-- <select  ng-model="pagination.limit" ng-change="searchApplication(search)" ng-options="pageSize for pageSize in pageSizes"></select> -->
                <md-select class="form-control-input small-input" ng-model="pagination.pageLimit" ng-change="pageChangeBankTransactions(search)">
                    <md-option ng-repeat="pageSize in pageSizes" ng-value="pageSize">{{::pageSize}}</md-option>
                </md-select> per page
            </div>
        </div>
    </div>
</div>
<div class="whitebox-container" ng-if="!paymentRecordView">
    <div class="page-title">{{reconcillationData.failureList.length+ reconcillationData.newList.length}} Entries Mismatch</div>
    <div class="application-list">
        <div class="loan-application-list">
            <table class="table table-stripe">
                <thead>
                    <tr>
                        <th>Transaction ID
                        </th>
                        <th>Dealer ID
                        </th>
                        <th class="agent-name">Amount
                        </th>
                        <th>Difference
                        </th>
                        <th class="customer-name">Mode
                        </th>
                        <th>Status
                        </th>
                        <th>Reason
                        </th>
                        <th>Action
                        </th>
                        <th>Submit
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="(reconcillationData.failureList.length+reconcillationData.newList.length + reconcillationData.successList.length)==0">
                        <td colspan="8" style="text-align:center;">No Transaction</td>
                    </tr>
                    <tr ng-repeat="data in reconcillationData.failureList">
                        <td>
                            {{data.remitterUTR}}
                        </td>
                        <td>
                             <input type="number" name="" class="form-control-input mismatch-input" ng-value="data.dealerId">
                        </td>
                        <td>
                            &#8377;{{data.amount}}
                        </td>
                        <td class="text-red">
                            <span ng-if="data.amountMismatch">&#8377;{{data.amountMismatch}}</span>
                        </td>
                        <td>
                            {{data.paymentMethod}}
                        </td>
                        <td>
                            Mismatch
                        </td>
                        <td>
                            <textarea class="form-control-input textarea-height40" ng-disabled="data.status!='Reject'" ng-model="data.reason"></textarea>
                        </td>
                        <td>
                            <md-select ng-model="data.status" class="form-control-input statusdp" placeholder="Select Status">
                                <md-option value="Approve">Approve</md-option>
                                <md-option value="Reject">Reject</md-option>
                            </md-select>

                        </td>
                        <td>
                            <button ng-disabled="!data.status || data.doingAction" class="button button-primary" ng-click="doTransactionCorrection(data)">
                                Submit
                                <img ng-show="data.doingAction" width="20" height="20" src="assets/images/loader.gif">
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="data in reconcillationData.newList">
                        <td>
                            {{data.remitterUTR}}
                        </td>
                        <td>
                            {{data.dealerId}}
                        </td>
                        <td>
                            &#8377;{{data.amount}}
                        </td>
                        <td class="text-red">
                            <span ng-if="data.amountMismatch">&#8377;{{data.amountMismatch}}</span>
                        </td>
                        <td>
                            {{data.paymentMethod}}
                        </td>
                        <td>
                            New Transaction Found
                        </td>
                        <td>
                            <textarea class="form-control-input textarea-height40" ng-disabled="data.status!='Reject'" ng-model="data.reason"></textarea>
                        </td>
                        <td>
                            <!-- <md-select ng-model="data.status" class="form-control-input statusdp" placeholder="Select Status">
                                <md-option value="Approved">Approve</md-option>
                                <md-option value="Rejected">Reject</md-option>
                            </md-select> -->
                        </td>
                        <td>
                            <!-- <button ng-disabled="!data.status || data.doingAction" class="button button-primary" ng-click="doTransactionCorrection(data)">
                                Submit
                                <img ng-show="data.doingAction" width="20" height="20" src="assets/images/loader.gif">
                            </button> -->
                        </td>
                    </tr>
                    <tr ng-repeat="data in reconcillationData.successList">
                        <td>
                            {{data.remitterUTR}}
                        </td>
                        <td>
                            {{data.dealerId}}
                        </td>
                        <td>
                            &#8377;{{data.amount}}
                        </td>
                        <td class="text-red">
                           <span ng-if="data.amountMismatch">&#8377;{{data.amountMismatch}}</span>
                        </td>
                        <td>
                            {{data.paymentMethod}}
                        </td>
                        <td>
                            Match
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
           
        </div>
    </div>
    <div class="text-center mismatch-action">
        <button class="button button-border" ng-click="hideReconillationView()">Go To Payment Panel</button>
        <!-- <button class="button button-primary">Submit</button> -->
    </div>
</div>
<!-- upload recon loader -->
<!-- <div class="progress-recon" layout="column">
    <h2>Recon Process</h2>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
            70%
        </div>
    </div>
    <div class="please-wait">Please Wait...</div>
</div> -->
<!-- End Recon Loader -->